/Dam et al. 2006 - Operon prediction ....pdf
/INSDC Feature Table Definition.html
/Kingsford et al. 2007 -  ... discovery of ... transcription terminators.pdf
/Lipps - Bioinformatik Skript.pdf
/Mardis 2008 - Next-Generation DNA Sequencing Methods.pdf
/Martin et al. - Bacillus anthracis ... whole transcriptome sequencing.pdf
/Salzberg et al. 2001 - Prediction of operons in microbial genomes.pdf
/Salzberg et al. 2008 - OperonDB: a comprehensive database of predicted operons in microbial genomes.pdf
/Trapnell 2012 - ... expression analysis ... TopHat and Cufflinks.pdf
/Wang 2009 - RNA-Seq: a revolutionary tool for transcriptomics.pdf
/Wurtzel et al. - A single-base resolution map of an archaeal transcriptome.pdf
/110629_brixen_deseq_huber.pdf
/GalaxyWorkshopNotes.pdf
/MD_RNASeqIntro.pdf
/RNA-seq-introduction-v2.pdf
/next-generation-transcriptome-assembly.pdf
Metabolic engineering of microorganisms general strategies and drug production.pdf
/Alt-Splicing.png
/Illumina_GA_Update.pdf
/snyder_rnaseq_review.pdf
