RewriteEngine on

#RewriteRule ^$ /biopython/hello [R,L]

RewriteRule hello hello.wsgi

RedirectMatch /$ /biopython/hello

AddHandler wsgi-script .wsgi

#DirectoryIndex hello.wsgi #index.html index.wsgi index.cgi
