#footer #pythonpowered { border: 0; float: right !important; }
#footer #pythonpowered:hover { background: transparent; }
#footer #tracpowered { border: 0; float: right !important; }
#footer #tracpowered:hover { background: transparent; }
#footer #fhnw { border: 0; float: left }
#footer #fhnw:hover { background: transparent }
#footer p.left { border: none !important; }
